#Task1

In [ ]:
prize_name = ""
result = ""
points = int(input("Enter point: "))

if points >=1 and points <=200:
  if points >=1 and points <=50:
    prize_name = "wodden rabit"
  elif points <= 150:
    prize_name = "no prize"
  elif points <= 180:
    prize_name = "wafer-thin mint"
  elif points <= 200:
    prize_name = "penguin"

  if(prize_name == "no prize"):
    print("Oh dear, no prize this time")
  else:
    print(f"Congratulations you won a {prize_name}")

else:
  print("Please Enter points from 1 to 200")

Enter point: 47
Congratulations you won a wodden rabit

#Task2

In [ ]:
answer = 47
guess = int(input("Enter a number: "))
if guess < answer:
 result = "Oops! Your guess was too low."
elif guess > answer:
 result = "Oops! Your guess was too high."
elif guess == answer:
 result = "Nice! Your guess matched the answer!"

print(result)

Enter a number: 47
Nice! Your guess matched the answer!

#Task3

In [ ]:
amount = int(input("Enter amount: "))
state = input("Enter your state (CA, MN, NY): ").upper()

tax = 0

if state == "CA":
  tax = (7.5*amount)/100
elif state == "MN":
  tax = (9.5*amount)/100
elif state == "NY":
  tax = (8.9*amount)/100

print("You had to pay {} tax".format(tax))

Enter amount: 1000
Enter your state (CA, MN, NY): MN
You had to pay 95.0 tax

#Task4

In [ ]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]

for word in sentence:
  print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

#Task5

In [ ]:
for i in range(1,31):
  if(i%5 == 0):
    print(i)

5
10
15
20
25
30

#Task6

In [ ]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = [first_name[:first_name.index(" ")].lower() for first_name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

#Task7

In [ ]:
multiples_3 = [i*3 for i in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

#Task8

In [ ]:
scores = {
 "Rick Sanchez": 70,
 "Morty Smith": 35,
 "Summer Smith": 82,
 "Jerry Smith": 23,
 "Beth Smith": 98
 }

passed = [name for name, score in scores.items() if score >= 65]

print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

#Task9

In [ ]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = {}

for name, height in zip(cast_names, cast_heights):
  cast[name] = height

print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

#Task10

In [ ]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i, name in enumerate(cast):
  cast[i] = name + str(heights[i])

print(cast)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']