# Task 1

In [2]:
import pandas as pd

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth', 'Saturn', 'Mars', 'Venus', 'Jupiter']

dist_planets = pd.Series(distance_from_sun, index=planets, name="Distance_from_Sun")

speed_of_light = 18
time_light = dist_planets / speed_of_light

close_planets = time_light[time_light < 40]

print(close_planets)

Earth     8.311111
Mars     12.661111
Venus     6.011111
Name: Distance_from_Sun, dtype: float64

# Task2

In [27]:
import pandas as pd
import numpy as np

# Since we will be working with ratings, we will set the precision of our 
# dataframes to one decimal place.
# Create a Pandas DataFrame that contains the ratings some users have given to a
# series of books. The ratings given are in the range from 1 to 5, with 5 being
# the best score. The names of the books, the authors, and the ratings of each user
# are given below:

books = pd.Series(data = ['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland' ])
authors = pd.Series(data = ['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll' ])

user_1 = pd.Series(data = [3.2, np.nan ,2.5])
user_2 = pd.Series(data = [5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data = [2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data = [4, 3.5, 4, 5, 4.2])

dat = {"Auther": authors, "Book Title": books, "User 1": user_1,
       "User 2": user_2, "User 3": user_3, "User 4": user_4}

book_ratings = pd.DataFrame(dat)

book_ratings.fillna(book_ratings.select_dtypes(include=np.number).mean(), inplace = True)
print(book_ratings)

best_rated = book_ratings[(book_ratings == 5).any(axis = 1)]['Book Title'].values

print("Best rated books:", best_rated)

# Now replace all the NaN values in your DataFrame with the average rating in
# each column. Replace the NaN values in place. HINT: you can use the fillna()
# function with the keyword inplace = True, to do this. Write

                Auther           Book Title  User 1  User 2    User 3  User 4
0      Charles Dickens   Great Expectations    3.20   5.000  2.000000     4.0
1       John Steinbeck      Of Mice and Men    2.85   1.300  2.300000     3.5
2  William Shakespeare     Romeo and Juliet    2.50   4.000  2.766667     4.0
3          H. G. Wells     The Time Machine    2.85   3.800  4.000000     5.0
4        Lewis Carroll  Alice in Wonderland    2.85   3.525  2.766667     4.2
Best rated books: ['Great Expectations' 'The Time Machine']